{% extends "base.html" %}
{% load static %}

{% block about %}
  <!--/ About start /-->
  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="img/testimonial-2.jpg" class="img-fluid rounded b-shadow-a" alt="" />
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p>
                        <span class="title-s">Name: </span>
                        <span>Vivek Prajapati</span>
                      </p>
                      <p>
                        <span class="title-s">Profile: </span>
                        <span>full stack developer</span>
                      </p>
                      <p>
                        <span class="title-s">Email: </span>
                        <span>prajapativivek998@gamail.com</span>
                      </p>
                      <p>
                        <span class="title-s">Phone: </span>
                        <span>+91 7393017587</span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>HTML</span> <span class="pull-right">85%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>CSS</span> <span class="pull-right">75%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>PYTHON</span> <span class="pull-right">40%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>DJANGO</span> <span class="pull-right">25%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>JAVASCRIPT</span> <span class="pull-right">30%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>JAVA</span> <span class="pull-right">40%</span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">About me</h5>
                  </div>
                  <p class="lead">
                    My name is vivek prajapati.I am belong to Aung Fatehpur
                    Uttar Pradesh. I have completed highschool in 2014 with
                    85% marks and I have also completed my intermediate in
                    2016 with 85% marks from uttar pradesh board.
                  </p>
                  <p class="lead">
                    After twelth I have join in a diploma course from the
                    branch of Textile Technology, In this course time I have
                    completed 4 week Internship training in a spinning company
                    and completed my course in 2020.
                  </p>
                  <p class="lead">
                    I learned all these technology with the help of Internet.
                    In 2020, I started Graduation(B.tech) with Computer
                    Science.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ About End /-->
{% endblock about %}